{{define "category"}}

{{template "layout"}}

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Please select 2 categories</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form>
          <ul>{{range .Categories}}
              <div class="checkbox">
                  <label><input type="checkbox"> {{.}} </label>
              </div>
              {{end}}
            </ul>
            <ul>
                <button type="button" class="btn btn-primary" input type="submit">Submit</button>
            </ul>
      </form>
    </div>
  </div>
</div>

{{end}}

<script>
  const input = $("form ul input:checkbox")

  $( "form" ).submit(function( event ) {
    event.preventDefault();
  })
</script>
